<?xml version="1.0" encoding="UTF-8"?><widget id="com.nonok.kontol.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android"><name>Bangsat</name><content src="index.html"/><access origin="*"/><allow-navigation href="*://*/*"/><platform name="android">
    <uses-permission android:name="android.permission.INTERNET" />
<icon src="res/icon.png" density="ldpi" /><icon src="res/icon.png" density="mdpi" /><icon src="res/icon.png" density="hdpi" /><icon src="res/icon.png" density="xhdpi" /><icon src="res/icon.png" density="xxhdpi" /><icon src="res/icon.png" density="xxxhdpi" />  </platform></widget>